@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    position: fixed;
    left: -180px;
    width: 180px;
    height: 100%;
    background: #181a1b;
    transition: all .4s ease;
    padding-top: 3.6rem;

}

.sidebar header {
    font-size: 11px;
    color: #6e747a;
    line-height: 50px;
    padding-top: 5px;
    padding-left: 20px;
    background: #181a1b;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: all .4s ease;
}

ul .menu:hover a{
    padding-left: 30px;
    color: #e47911;
}

.sidebar ul a i{
    margin-right: 10px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #e47911;
    border-radius: 5px;
    cursor: pointer;
}

label #btn{
    left: 10px;
    top: 67px;
    font-size: 20px;
    color: white;
    padding: 6px 12px;
    transition: all .4s ease;
    position: fixed;
}

label #btn:hover{
    background: #343D5B;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 73px;
    font-size: 20px;
    color: white;
    padding: 4px 9px;
    transition:all .4s ease;
    position: fixed;
}

label #cancel:hover{
    background: #343D5B;
}


#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 220px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 125px;
}

#check:checked ~ section{
    margin-left: 130px;
}

.cuerpo{
    background: #fff no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .4s ease;
    padding-top: 4.4rem;
}

.contenedor{
    padding-left: 4.1rem;
    padding-right: 4.1rem;
}

.arriba {
    background: #111314;
    width: 100%;
    margin: 0;
}

.header {
    background: #111314;
    color: white;
    padding: .7rem 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    box-shadow: 1px 1px 4px #e47911;
}

    .header a{
        color:#F1F1F1;
        text-decoration: none;
        font-weight: bolder;
        font-size: 15px;
    }

.logo-nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            margin: 0rem 2rem;
            padding: 0.5rem 0.7rem;
            transition: all 0.5s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #e47911;
                text-align: center;
                color: white;
            }

.oficialogo{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 50px;
}

/* Estilo de darkmode */
.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}


.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch:active {
    background: orange;
    color: black;
}

.switch:active::after {
    content: "";
    left: unset;
    right: 0;
}