@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body {
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    position: fixed;
    left: -220px;
    width: 220px;
    height: 100%;
    background: rgb(23, 32,42);
    transition: all .4s ease;
    padding-top: 4.1rem;

}

.sidebar header {
    font-size: 13px;
    color: #6e747a;
    line-height: 60px;
    text-align: center;
    background: rgb(23, 32,42);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: all .4s ease;
}

ul li:hover a{
    padding-left: 50px;
    color: tomato;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #55acea;
    border-radius: 3px;
    cursor: pointer;
}

label #btn{
    left: 15px;
    top: 80px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all .4s ease;
    position: fixed;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 80px;
    font-size: 25px;
    color: white;
    padding: 4px 9px;
    transition:all .4s ease;
    position: fixed;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 220px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 170px;
}

#check:checked ~ section{
    margin-left: 220px;
}

.cuerpo{
    background: #fff no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .4s ease;
    padding-top: 5rem;

}

.arriba {
    background: black;
    width: 100%;
    margin: 0;
}

.header {
    background: rgb(23, 32,42);
    color: white;
    padding: 1rem 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
}

    .header a{
        color:#55acea;
        text-decoration: none;
        font-weight: bolder;
    }

.logo-nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 2rem;
            transition: all 0.5s linear;
            border-radius: 5px;
        }
            .navigation ul li a:hover{
                background: #55acea;
                text-align: center;
                color: white;
            }

.imagen{
    width: 50px;
}
