<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App | Error 404</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/css/404_29.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>


</head>
<body>
    <img src="../static/images/logo_blanco.png" alt="" class="logo">
    <img src="../static/images/404.png" alt="" class="notfound">
    <img src="../static/images/enchufe.png" alt="" class="enchufe">
    <h1>¡Lo sentimos!</h1>
    <h2>No encontramos lo que buscabas</h2>
    <h3><a href="/home" > Volver al Inicio </a></h3>
    
</body>
</html>