{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/adduser3.css')}}">
    <h1>AGREGAR USUARIO</h1>
    <hr/>
    <br/>
    <form action="/adduser" method="POST">
        <h4 class="datos">Nombre de usuario</h4>
        <input type="text" name="addusername" placeholder="Usuario Nuevo" value="" >
        
        <h4 class="datos">Contraseña</h4>
        <input type="password" name="addpassword1" value="" id="addpassword1">
        <img src="../static/images/mostrar.png" alt="" class="boton1" id="boton1" style="width:25px; cursor:pointer; top: 7px ;position: relative;" >


        <h4 class="datos">Repita la contraseña</h4>
        <input type="password" name="addpassword2" value="" id="addpassword2">
        <img src="../static/images/mostrar.png" alt="" class="boton2" id="boton2" style="width:25px; cursor:pointer; top: 7px ;position: relative;" >

        <br/>
        <select name="rol" id="" class="datos">
            <option value="0">Elije el rol</option>
            <option value="1">Administrador</option>
            <option value="2">Operador</option>
            <option value="3">Espectador</option>
        </select>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    {% if msg == "Usuario añadido correctamente" %}
                        <br/>
                        <p class="mensaje" style="color: green; margin-top: 10px;">{{usuario}}: {{msg}}</p>

                    {% else %}
                        <br/>
                        <p class="mensaje" style="color: red; margin-top: 10px">{{msg}}</p>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}
        <br/>
        <button type="submit" class="datos">Crear usuario</button>
    </form>
    <script>
        var boton1 = document.getElementById('boton1');
        var input1 = document.getElementById('addpassword1');

        boton1.addEventListener('click', mostrarContraseña1);

        function mostrarContraseña1(){
            if(input1.type == "password"){
                input1.type = "text";
                boton1.src="../static/images/ocultar.png";
            } else{
                input1.type = "password";
                boton1.src = "../static/images/mostrar.png";
            }
        }

        var boton2 = document.getElementById('boton2');
        var input2 = document.getElementById('addpassword2');

        boton2.addEventListener('click', mostrarContraseña2);

        function mostrarContraseña2(){
            if(input2.type == "password"){
                input2.type = "text";
                boton2.src="../static/images/ocultar.png";
            } else{
                input2.type = "password";
                boton2.src = "../static/images/mostrar.png";
            }
        }
    </script>
{% endblock %}