<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño</title>
</head>
<body style="background-color:rgb(23, 32,42)"; >
    
    <h1 style="color:#eff3f5" >Título</h1>
    <p style="color:#55acea" >
        Color por nombre
    </p>
    <p style="color:#6e747a" >Buenos colores</p>
    <p style="background: #192229;" > Color para variar el fondo </p>
    <p style="background: #212e36;" > Color para variar el fondo </p>

    <p style="color: #f4c575;" > Buenos colores</p>
</body>
</html>
