{% extends 'base.html' %}
{% block content %}
    <h1 style="color: rgb(23, 32,42)" >INICIO</h1>
    <hr/>
    <br/>
    <h2 style="color:#192229" >Detalles Generales</h2>
    <table border="5" style="text-align: center;" >
        <thead>
            <tr>
                <td>Switches</td>
                <td>Tipo</td>
                <td>Versión</td>
            </tr>
        </thead>
        <tbody>
            {% for i in range(n_sw) %}
                {% set i_str = i|string %}
                <tr>
                    <td>
                        {{ (carac_all_sw[i])["dp_desc"] }}
                    </td>
                    <td>
                        {{ (carac_all_sw[i])["hw_desc"] }}
                    </td>
                    <td>
                        {{ (carac_all_sw[i])["sw_desc"] }}
                    </td> 
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    <br/>

    <h2 style="color:#192229" >Estadísitcas de puertos
        {% if n %}
            : Switch {{n}}
        {% endif %}
    </h2>
    <br/>

    <select name="rol" id="" class="datos" onchange="javascript:handleSelect(this)">
        <option value="#">Elija un Switch</option>
        {% for i in switches %}
            <option value="/{{i}}">Switch {{i}}</option>
        {% endfor %}
        
    </select>

    <script type="text/javascript">
        function handleSelect(elm){
            window.location = "/home"+elm.value;
        }
    </script>
    {% if n %}
        <table border="5" style="text-align: center;">
            <thead>
                <tr>
                    <td>Puerto</td>
                    <td>RX Packets</td>
                    <td>TX Packets</td>
                    <td>RX Bytes</td>
                    <td>TX Bytes</td>
                    <td>RX Dropped</td>
                    <td>TX Dropped</td>
                    <td>RX Errors</td>
                    <td>TX Errors</td>
                    <td>Collisions</td>
                    <td>Duration (sec)</td>
                </tr>
            </thead>
                
                {% for i in est_port %}
                    <tr>
                        <td> {{i["port_no"]}} </td>
                        <td> {{i["rx_packets"]}} </td>
                        <td> {{i["tx_packets"]}} </td>
                        <td> {{i["rx_bytes"]}} </td>
                        <td> {{i["tx_bytes"]}} </td>
                        <td> {{i["rx_dropped"]}} </td>
                        <td> {{i["tx_dropped"]}} </td>
                        <td> {{i["rx_errors"]}} </td>
                        <td> {{i["tx_errors"]}} </td>
                        <td> {{i["collisions"]}} </td>
                        <td> {{i["duration_sec"]}} </td>
                    </tr>
                    
                {% endfor %}
            <tbody>

            </tbody>
        </table>
    {% endif %}
{% endblock %}
