{% extends 'base.html' %}
{% block content %}

    <h1 style="color: rgb(23, 32,42)" >INICIO</h1>
    <br/>
    <h2 style="color:#192229" >Detalles: Switches conectados</h2>

    <table border="5" style="text-align: center;" >
        <thead>
            <tr>
                <td> <h3>Switches </h3></td>
                <td> <h3>Tipo </h3></td>
                <td> <h3>Versión </h3></td>
                <!-- <td> <h3>FLujos </h3></td> -->
            </tr>
        </thead>
        <tbody>
            {% for i in range(numero) %}
                <tr>
                    <td>{{ nombre[i] }}</td>
                    <td>{{ tipo[i] }}</td>
                    <td> {{ version[i] }} </td>
                    <!-- <td>
                        <a href="/home/addflow/{{orden[i]}}">Agregar flujo</a>
                    </td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}