<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopQoS | Login</title>
    <link rel="stylesheet" href="../static/css/login30.css">
    <link rel="shortcut icon" href="#">

</head>
<body>
    <img src="../static/images/fondo.jpg" alt="" class="imagen" >

    <div class="contenido" >
        <img src="../static/images/logo2.png" alt="Logo TopQoS" class="imagen2" style="width: 200px; display: block; margin: auto;">

        <form action="/login" method="POST" class= "formulario">
            <h2 style="color: #55acea; margin-left: 50px;" >Usuario</h2>
            <input type="text" class="usuario" name="usuario" placeholder="Ingrese el usuario">

            
            <h2 style="color: #55acea; margin-left: 50px;" >Contraseña</h2>
            <input type="password" class="clave" id="contraseña" name="clave" placeholder="Ingrese la clave">


            <img src="../static/images/mostrar.png" alt="" class="boton" id="boton" style="width:25px; cursor:pointer; position:absolute; left:263px; top: 306px" >
            <hr>
            <button type="submit" class="btn" > Log In </button>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p class="mensaje" >{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </form>
    </div>

    <script>
        var boton = document.getElementById('boton');
        var input = document.getElementById('contraseña');

        boton.addEventListener('click', mostrarContraseña);

        function mostrarContraseña(){
            if(input.type == "password"){
                input.type = "text";
                boton.src="../static/images/ocultar.png";
            } else{
                input.type = "password";
                boton.src = "../static/images/mostrar.png";
            }
        }
    </script>
    
</body>
</html>
