{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/flowtables39.css') }}">

    <h1>TABLA DE FLUJOS: Switch {{numero}}</h1>
    <br/>
        <ul class="luswitch">
            {% for i in flowtables %}
                <li class="switch" ><a href="/flowtables/{{i}}" class="aswitch">Switch {{i}}</a></li>
            {% endfor %}
        </ul>
        <br/>
        {% for tabla in tablas_activas %}
            <h2>Tabla {{tabla}}</h2>
            <table border="8" style="text-align: center; color: #55acea;" >
                <thead style="color: #192229; font-weight: bold;" >
                    <tr>
                        <td>Prioridad</td>
                        <td>Coincidencias</td>
                        <td>Cookie</td>
                        <td>Duración</td>
                        <td>IDLE Timeout</td>
                        <td>HARD Timeout</td>
                        <td>Acciones</td>
                        <td>Conteo Paquetes</td>
                        <td>Flags</td>
                    </tr>
                </thead>
                <tbody style="color: rgb(23, 32,42);" >
                    {% for i in total %}
                        
                        <tr>
                            <td>{{ (i[tabla])['priority'] }}</td>
                            <td>{{ (i[tabla])['match'] }}</td>
                            <td>{{ (i[tabla])['cookie'] }}</td>
                            <td>{{ (i[tabla])['duration_sec'] }}</td>
                            <td>{{ (i[tabla])['idle_timeout'] }}</td>
                            <td>{{ (i[tabla])['hard_timeout'] }}</td>
                            <td>{{ (i[tabla])['actions'] }}</td>
                            <td>{{ (i[tabla])['packet_count'] }}</td>
                            <td>{{ (i[tabla])['flags'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
{% endblock %}